.query-area-holder {
    display: flex;
    justify-content: center;
}

.query-area {
    height: 400px;
    width: 600px;
    border: 1px solid gray;
    overflow-wrap: break-word;
    font-family: "Fira Code", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}